@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    background: white;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.text{
    color: black; 
    font-size: 20px; 
    font-family: 'Indie Flower', cursive; 
}

.container{
    max-width: 1280px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    margin: 0;
    position: relative;
    font-family: 'Indie Flower', cursive;
    font-size: 101px;
}
.input-panel{
    margin-left: auto;
    margin-right: auto;
}
.input{
    max-width: 300px;
    padding-top: 3%;
}
input[type="text"] {
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; 
    -khtml-border-radius: 3px; 
    background: #ffffff !important; 
    outline: none; 
    height: 25px; 
    width: 250px; 
    color: black; 
    font-size: 24px; 
    font-family: 'Indie Flower', cursive; 
 }

.control-panel{
    padding-top: 3%;
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;

}
.control-btn{
    justify-content: center;
    background-color: whitesmoke; 
    color: black;
    height: 50px;
    border-radius: 0.15cm;
    line-height: 10px;
}
.control-btn:hover {
    background: black; 
    color: whitesmoke;
}
.sort-panel{
    width: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.updown{
    flex-direction: column;
}
.updown-btn{
    justify-content: center;
    background-color: whitesmoke; 
    color: black;
    display: flex;
    font-size: 16px;
    border-radius: 0.15cm;
    width: 30px;
    height: 30px;
}
.updown-btn + .updown-btn{
    margin-top: 10px;
}
.up-btn{
    background: url(/images/arrowUp.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: 100%;
    color: inherit;
}
.up-btn:hover{
    box-shadow: 2px 2px black, 0.5em 0 .4em gray;
}
.down-btn{
    background: url(/images/arrowDown.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: 100%;
    color: inherit;
}
.down-btn:hover{
    box-shadow: 2px 2px black, 0.5em 0 .4em gray;
}
.task-borders{
    padding-top: 3%;
}
.task-border{
    border: 2px solid;;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.task-border + .task-border{
    margin-top: 15px;
}

.comletedtask-btn{
    margin-right: auto;
    border: 0cm;
    width: 30px;
    height: 30px;
    background: url(/images/okBefore.svg);
    background-position:center;
    background-repeat:no-repeat;
    background-size: 100%;
    color: inherit; 
}
.comletedtask-btn:hover {
    background: url(/images/okAfter.svg);
}
.comletedtask-btn:active {
    background: url(/images/okClick.svg);
}
.name-task{
    width: 200px;
    margin-left: 15px;
    text-align: left;
}
.data-task{
    width: 75px;
    margin-left: 15px;
}
.deltask-btn{
    margin-left: auto;
    border: 0cm;
    width: 30px;
    height: 30px;
    background: url(/images/trash.svg);
    background-position:center;
    background-repeat:no-repeat;
    background-size: 100%;
    color: inherit;
}
.deltask-btn:active{
    background: url(/images/trashAct.svg);
}
.deltask-btn:checked{
    background: url(/images/trashAct.svg);
}
.deltask-btn:hover{
    box-shadow: 2px 2px black, 0.5em 0 .4em gray;
}
.nav-panel{
    padding-top: 2%;
    width: 300px;
    display: flex;
    text-align: center;
    justify-content:space-between;
    margin-left: auto;
    margin-right: auto;
}
.nav-btn{
    background-color: white; 
    width: 40px;
    height: 40px;
    border-radius: 0.15cm;
    line-height: 5px;
}
.nav-btn:hover{
    box-shadow: 2px 2px black, 0.5em 0 .4em gray;
}

.first-page{
    background: url(/images/arowLeft.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: 100%;
    color: inherit;
}
.last-page{
    background: url(/images/arrowRight.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: 100%;
    color: inherit;

}


