@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    background: white;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.text{
    color: black; 
    font-size: 20px; 
    font-family: 'Indie Flower', cursive; 
}
section + section {
    margin-top: 3%;
}
.container{
    padding: 20px,20px,20px,20px;
    max-width: 1280px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.header.container{
    height: 101px;
}
.logo{
    margin: 0;
    position: relative;
    font-family: 'Indie Flower', cursive;
    font-size: 101px;
}

.input-panel.container{
    max-width: 300px;
}

.input{
    max-width: 300px;
    height: 75px;
}
input[type="text"] {
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; 
    -khtml-border-radius: 3px; 
    background: #ffffff !important; 
    outline: none; 
    height: 25px; 
    width: 250px; 
    color: black; 
    font-size: 24px; 
    font-family: 'Indie Flower', cursive; 
 }

.control-panel.container{
    max-width: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
}
.control-btn{
    margin-top: 60px;
    justify-content: center;
    background-color: whitesmoke; 
    color: black;
    width: 40px;
    height: 40px;
    padding: 15px 32px;
    text-align: center;
    display: flex;
    font-size: 16px;
    border-radius: 0.15cm;
}

.control-btn + .control-btn{
    margin-left: 5px;
}
.control-btn:hover {
    background: black; 
    color: whitesmoke;
}
.name-sort{
    margin-top: 50px;
    margin-left: 50px;
    padding: 15px;
}
.updown{
    margin-left: 15px;
    position: relative;
    flex-direction: column;
}
.updown-btn{
    margin-top: 40px;
    justify-content: center;
    background-color: whitesmoke; 
    color: black;
    text-align: center;
    display: flex;
    font-size: 16px;
    border-radius: 0.15cm;
    width: 30px;
    height: 30px;
}
.updown-btn + .updown-btn{
    margin-top: 15px;
    margin-left: 0px;
}
.up-btn{
    background: url(/images/arrowUp.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: 100%;
    color: inherit;
}
.up-btn:hover{
    box-shadow: 2px 2px black, 0.5em 0 .4em gray;
}
.down-btn{
    background: url(/images/arrowDown.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: 100%;
    color: inherit;
}
.down-btn:hover{
    box-shadow: 2px 2px black, 0.5em 0 .4em gray;
}
.task-panel.container{
    max-width: 300px;
    display: flex;
    text-align: center;
    justify-content:space-between;
}
.task-border{
    border: 0.01rem solid;;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content:space-betwee
}
.task-border + .task-border{
    margin-top: 15px;
}
.comletedtask-btn{
    margin-right: auto;
    border: 0cm;
    width: 30px;
    height: 30px;
    background: url(/images/okBefore.svg);
    background-position:center;
    background-repeat:no-repeat;
    background-size: 100%;
    color: inherit; 
}
.comletedtask-btn:hover {
    background: url(/images/okAfter.svg);
}
.comletedtask-btn:active {
    background: url(/images/okClick.svg);
}
.name-task{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
.data-task{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
.deltask-btn{
    margin-left: auto;
    border: 0cm;
    width: 30px;
    height: 30px;
    background: url(/images/trash.svg);
    background-position:center;
    background-repeat:no-repeat;
    background-size: 100%;
    color: inherit;
}
.deltask-btn:active{
    background: url(/images/trashAct.svg);
}
.deltask-btn:checked{
    background: url(/images/trashAct.svg);
}
.deltask-btn:hover{
    box-shadow: 2px 2px black, 0.5em 0 .4em gray;
}
.first-page{
    background: url(/images/arowLeft.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: 100%;
    color: inherit;
}
.last-page{
    background: url(/images/arrowRight.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: 100%;
    color: inherit;

}
.task-border{
    display: flex;
    text-align: center;
    justify-content: center;
}

